@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";

.itemIconBlock {
  display: flex;
  gap: 25px;

  .itemIcon {
    svg {
      width: 15px;
      height: 15px;
      width: 100%;
    }
  }
}
