@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";

.contact {
  background-color: $bgPrimaryColor;
  @include paddingForContainer();
}

.contactBlock {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  .contactInfoBlock {
    flex: 1;

    .details {
      @include text($fontFamilySecondary, 18px, 1.8);
      color: $fontColorGrey;
      margin-bottom: 42px;
      padding-right: 100px;
    }
  }

  .contactFormBlock {
    flex: 1;
  }
}


.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.contactContainer {
  display: flex;
  justify-content: center;

}

.formInput {
  width: 100%;
}

@media screen and (max-width: 624px) {
  .skills {
    justify-content: center;
  }
}