@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";

.skill {
  border-radius: 5px;
  width: 250px;
  min-height: 200px;
  background-color: $bgPrimaryColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
  transition: 0.3s;
  top: 0;

  &:hover {
    top: -20px;
    transition: 0.3s ease-in-out;
  }

  &:hover .descriptionBlock > .icon {
    border: 3px solid $textColor;
    transform: rotate(360deg);
    transition: 0.5s ease-in-out;
  }

  /*&:hover > .icon {
    background-color: greenyellow;
  }*/

  .descriptionBlock {
    padding: 60px 15px 25px;
    margin-bottom: 40px;

    .icon {
      position: absolute;
      top: -40px;
      left: 0px;
      right: 0px;
      height: 80px;
      width: 80px;
      background-color: $buttonBgColorPrimary;
      margin: 0 auto;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 3px solid $bgPrimaryColor;
      transition: transform .7s ease-in-out;

      svg {
        height: 35px;
        width: 35px;
      }
    }

    .title {
      margin-block-start: 0px;
      margin-block-end: 0px;
      display: block;
      @include text($fontFamilyPrimary, 18px, 1.6);
      font-weight: 500;
      margin-bottom: 18px;
    }

    .description {
      margin-bottom: 20px;
      @include text($fontFamilyPrimary, 15px, 1.8);
      color: $fontColorGrey;
    }
  }

  .corner {
    text-align: left;
    position: absolute;
    display: block;
    right: 10px;
    bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      width: 45px;
    }
  }
}

