@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";
.title {
    /*margin-bottom: 30px;*/
    position: relative;
    /*&::before{
        position: absolute;
        content: "";
        width: 55px;
        height: 1px;
        background-color: $primaryColor;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 50%);
    }*/
    h2 {
        @include text($fontFamilyPrimary, 32px, 1.2);
        font-weight: 800;
        color: $textColor;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        margin: 0 0 0;
    }
}

