@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";

.mainBlock {
  height: 100vh;
  background-color: $bgPrimaryColor;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }

  .greetingBlock {
    width: 300px;

    .title {
      /*min-height: 125px;*/
      @include text($fontFamilyPrimary, 45px, 1.4);
      font-weight: 800;
      text-transform: uppercase;
    }
    .position {
      @include text($fontFamilyPrimary, 22px, 1.8);
      font-weight: 400;
      color: $fontColorGrey;
      margin-bottom: 60px;
    }

    .areas {
      margin-top: 130px;
      ul {
        list-style-type: none;
        padding: 0px 0px;

        li {
          padding: 8px 0;
        }

        .arrowSvg {
          display: flex;
          align-items: center;
          height: 100%;
        }

        .profileTitle {
          @include text($fontFamilySecondary, 17px, 28px);
          letter-spacing: 0.2px;
          text-decoration: none;
          padding-right: 20px;
        }
      }
    }
  }

  .photoBlock {
    .photo {
      background: green;
      position: relative;
      height: 530px;
      width: 400px;
      border-radius: 8px;
      transform: rotate(8deg);
      z-index: 1;

      .pseudoParent {
        position: absolute;
        height: 530px;
        width: 400px;
        border-radius: 8px;

        &:after {
          position: absolute;
          z-index: -1;
          background: $buttonBgColorPrimary;
          height: 524px;
          width: 400px;
          content: "";
          left: -80px;
          bottom: -30px;
          border-radius: 8px;
          transform: rotate(-12deg);
        }
      }
    }
  }
}
