$textColor: #fff;
$bgPrimaryColor: #303134;
$bgSecondColor: #494b50;
$subTitleColor : #ff4522;
$subTitleFont : "Poppins";
$fontFamilyPrimary: 'Poppins', sans-serif;
$fontFamilySecondary: 'Mulish', sans-serif;
$fontColorGrey: #a7afbd;
$primaryColor: #4e93e6;
$bgColor: #1f1f20;
