@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixin";

.footer {
  background-color: $buttonBgColorSecondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  .footerBlock {
    /*align-items: baseline; */
  }
  .copyrigth {
    @include text($fontFamilySecondary, 17px, 1.8);
    letter-spacing: 0.2px;
    font-weight: 500;
  }
}

